@media (max-width: 1080px) {
  .products {
    flex-direction: column;
  }

  .product-img {
    width: 66%;
  }
}

@media (max-width: 400px) {
  .body {
    padding: 0;
  }
  .product-card {
    padding: 0;
  }
} ;
