* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  color: #f1f5f9;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bakery-main.jpg") center/cover;
  height: 100vh;
}
