* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #1e293b;
  background-color: #f1f5f9;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  color: #f1f5f9;
  background-color: #0f766e;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

h1 {
  font-size: 3.2rem;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 9.6rem;
}

.player {
  font-size: 1.6rem;
}

.player-active {
  color: #0f766e;
  text-decoration: underline;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid #0f766e;
}

.cell {
  width: 10rem;
  height: 10rem;
  border: 1px solid #0f766e;
  font-size: 3.2rem;
  color: #0f766e;
  display: flex;
  justify-content: center;
  align-items: center;
}
