@media (max-width: 1080px) {
  .info-groups {
    flex-direction: column;
  }

  .info-img {
    width: 50%;
    border-radius: 1rem;
  }
}

@media (max-width: 810px) {
  .hero-img {
    display: none;
  }

  .cite {
    display: none;
  }

  .cta-box {
    flex-direction: column;
  }
}

@media (max-width: 810px) {
  .nav-list {
    font-size: 0.8rem;
  }

  a.btn.nav-btn {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
} ;
