* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

/* Utitlities */

ul {
  list-style: none;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  border: 1px solid#fff;
  border-radius: 1rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover,
.btn:active {
  color: #b91c1c;
  background-color: #fff;
}

.section-title {
  font-size: 2rem;
}

/* HEADER */
.main-header {
  background-color: #7f1d1d;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav {
  margin-bottom: auto;
  border-bottom: 1px solid #d4d4d4;
}

.nav-list {
  height: 5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  padding: 1.6rem;
}

.nav-logo {
  margin-right: auto;
  font-weight: 700;
}

.nav-btn {
  font-size: 1rem;
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex: 1;
  padding: 3.6rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  flex: 1;
}

.hero-title {
  font-size: 3.6rem;
  line-height: 1.1;
}

.hero-text {
  font-size: 1.6rem;
}

.hero-img {
  flex: 1;
}

.hero-img img {
  width: 100%;
  border-radius: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
/* MEET US */
.meet-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem;
}

.info-groups {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.info-img {
  width: 75%;
  border-radius: 1rem;
}

.info-text {
  font-size: 1.2rem;
}

/* CITE */
.cite {
  background-color: #d6d3d1;
  color: #1c1917;
  padding: 4.8rem;
}

.cite-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.6rem;
}

.cite-figure p {
  font-size: 1.6rem;
}

.cite-figure figcaption {
  font-size: 1.2rem;
  align-self: flex-end;
}

/* Call to action */
.cta {
  padding: 2.4rem;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
  color: #fafafa;
  background-color: #14532d;
  padding: 2.4rem;
  border-radius: 1rem;
}

.cta-text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  flex: 2;
}

.cta-title {
  font-size: 2rem;
}

.cta-text p {
  font-size: 1.2rem;
}

.cta-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.main-footer {
  height: 5rem;
  font-size: 1.2rem;
  color: #1c1917;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #d4d4d4;
}
